@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

  :root {--gradient-shadow: linear-gradient( 45deg,#000dff, #ff0015,#000dff,#ff0015,#000dff);}
  /* :root {--gradient-shadow: linear-gradient( 45deg, #fb0094, #0000ff, #da00ff, #ffaf00, #ac5900, #fb0094, #0000ff, #da00ff, #ffaf00, #ac5900 );} */

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* Header - Inicio
.cabecalho {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    position: fixed;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
}
/* Borda -Inicio
.borda {
    display: flex;
    background: linear-gradient(
        90deg,
        #f21d2f 10%,
        #3238a6 100%
        );
        
}
.borda:before, .borda:after {
    display: flex;
    padding: 2px;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 30s linear infinite;
  }
  .shadow:after {
    filter: blur(20px);
  }

  @keyframes animate {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 500% 0;
    }

    100% {
      background-position: 0 0;
    }
  }

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container ul li {
    margin: 0 15px;
    font-family: Lato;
    font-size: 12px;
}

.container ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    cursor: pointer;
}

.container ul li a:hover {
    border-bottom: 2px solid #f21d2f;
}

.logo {
    height: 40px;
    width: auto;
    margin-left: 60px;
    cursor: pointer;
}

.usuario {
    display: flex;
    justify-content: end;
    height: 30px;
    width: auto;
    margin-right: 20px;
    cursor: pointer;
}

.img_usuario {
    display: flex;
    width: 40%;
    justify-content: end;
    margin-right: 50px;
}
Header - Fim */
.cadastro {
  display: flex;
  width: 100%;
  height: 100%;
}
.cadastro .foto {
  display: flex;
  width: 50%;
}
.foto .foto_capivara{

  width: 100%;
}

.cadastro .container {
  display: flex;
  background-color: black;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.container .img_voltar .voltar{
  width: 50px;
  display: flex;
  margin-right: 550px;
}


.container h2{
  color: White;
  font-size: 40px;
  margin: 10px;
}
.container .linkLogin{
  display: flex;
  color: white;
}
.linkLogin .entrar{
  color: red;
  margin-left: 5px;
}
.linkLogin a {
  text-decoration: none;
} 
.container .formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}
.campo input{
  background-color: #242424;
  border-color: red;
  border-radius: 8px;
  width: 300px;
  height: 30px;
  font-size: 12px;
}
.campo input::placeholder{
  padding-left: 10px;
}
.formulario button {
  background: linear-gradient(to right,#f21d2f, #3238a6); /*cor do botão*/
  color: white;
  font-size: 18x;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 32px;
}
.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}





