@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* header e o texto */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: black;
}

/* header e o texto */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 20px;
    text-align: center;
}

.img_usuario {
    display: flex;
    width: 40%;
    justify-content: end;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container ul li {
    margin: 0 15px;
    font-family: Lato;
    font-size: 12px;
}

.container ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    cursor: pointer;
}

.container ul li a:hover {
    border-bottom: 2px solid #f21d2f;
}

/* Logo do header */
.logo {
    height: 40px;
    width: auto;
    margin-right: 20px;
    cursor: pointer;
}

.usuario {
    display: flex;
    justify-content: end;
    height: 30px;
    width: auto;
    margin-right: 20px;
    cursor: pointer;
}

/* banner */
.banner {
    
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.0),
        rgba(0, 0, 0, 5.0)
    ),
    url('./Fotos/imagem 2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner .container {
    text-align: center;
    padding: 20px;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}
.descricao {
    font-size: 20px;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto
}
/*#3238a6*/
button {
    background: linear-gradient(to right,#f21d2f, #3238a6); /*cor do botão*/
    color: white;
    font-size: 18px;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 180px;
    height: 37px;
}
button:hover {
    background: linear-gradient(to right, #85151e, #121440); /*cor do botão ao passar em cima dele*/
}